* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000000;
}
header{
    background-color: #000000;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:0rem;
    padding:0rem;
} 
.round_border{
    border: 0px solid #1C6EA4;
border-radius: 32px;
}
 .image_align{

    display: flex;
    justify-content: left;
    align-items: flex-start;
} 
.size_iframe{

    width:100vw;
    height:60vh;
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-fluid {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.col {
    display: grid;
    align-items: center;
}

.card {
    height: 25rem;
    width: 12.5rem;
    margin:.4rem;
    
    
}
.x-img{
    border-radius: 14px;
    width:14rem;
    height: 24.5rem;
    object-fit: cover;
    box-shadow: 5px 5px 15px 5px #000000;
}

.bgcolor {
    background-color: rgb(255, 255, 255);
}