* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* .btest1 {
    border: 5px solid #eeff00;
}

.btest2 {
    border: 5px solid #1C6EA4;
}   */

.container {
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    margin: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: .8rem;
    height: 400px;
    width: 200px;
    border-radius: 14px;
    background-image: linear-gradient(rgb(0, 0, 0));
    z-index: 2;
    /* background-color: rgb(255, 255, 255); */
}

.x-img {
    border-radius: 14px;
    height: 24.5rem;
    object-fit: cover;
    background-size: 100% 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    background-image: linear-gradient(rgba(235, 10, 10, 0.623));
    z-index: 1;
}

.bgcolor {
    background-color: rgb(255, 255, 255);
}